In [1]:
import pandas as pd
import requests

Task 8.1.3: Import the settings variable from the config module. Then use the dir command to see what attributes it has.

In [10]:
import os
print(os.listdir())

['.ipynb_checkpoints', 'config.py', 'data.py', 'first.ipynb', 'main.py', 'model', 'model.py', 'untitled.txt', '__pycache__']

In [16]:
import os

env_path = os.path.abspath(".env")
print(env_path)

C:\Users\User\Ambujacement Project\.env

In [1]:
import pydantic
print(pydantic.__version__)

1.10.22

In [2]:
from pydantic import BaseSettings
print("Import successful!")

Import successful!

In [10]:
# Import settings
from config import settings

# Use `dir` to list attributes
dir(settings)

['Config',
 '__abstractmethods__',
 '__annotations__',
 '__class__',
 '__class_vars__',
 '__config__',
 '__custom_root_type__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__exclude_fields__',
 '__fields__',
 '__fields_set__',
 '__format__',
 '__ge__',
 '__get_validators__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__include_fields__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__json_encoder__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__post_root_validators__',
 '__pre_root_validators__',
 '__pretty__',
 '__private_attributes__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__repr_args__',
 '__repr_name__',
 '__repr_str__',
 '__rich_repr__',
 '__schema_cache__',
 '__setattr__',
 '__setstate__',
 '__signature__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__try_update_forward_refs__',
 '__validators__',
 '_abc_impl',
 '_build_values',
 '_calculate_keys',
 '_copy_and_set_values',
 '_decompose_class',
 '_enforce_dict_if_root',
 '_get_value',
 '_init_private_attributes',
 '_iter',
 'alpha_api_key',
 'construct',
 'copy',
 'db_name',
 'dict',
 'from_orm',
 'json',
 'model_directory',
 'parse_file',
 'parse_obj',
 'parse_raw',
 'schema',
 'schema_json',
 'update_forward_refs',
 'validate']

In [9]:
from config import settings

print(settings.alpha_api_key)
print(settings.db_name)
print(settings.model_directory)

2e22d18e25d0a00bf729e3f7f80d7405010d1996d8b4acc8527067289bf78aaa1fdbaf48ddb2339b278c04f6f2295b1b2599ff490734c3408a16bc80cc05d0e391a28a4a05cf928e5551a5012717e40b0909f8c59f02624ebe613c3f49d2635bac075a818b60a43bb5c9d907096559f8442326de731af32049d6db6baf6c207e
stocks.sqlite
model

Task 8.1.4: Create a new URL for "AMBUJACEM.BSE". This time, use the base URL "https://learn-api.wqu.edu/1/data-services/alpha-vantage/query?" and incorporate our API key.

In [11]:
url = ("https://learn-api.wqu.edu/1/data-services/alpha-vantage/query?"
       "function=TIME_SERIES_DAILY&"
       "symbol=AMBUJACEM.BSE&"
       f"apikey={settings.alpha_api_key}"
      )
print("url type:", type(url))
url

url type: <class 'str'>

'https://learn-api.wqu.edu/1/data-services/alpha-vantage/query?function=TIME_SERIES_DAILY&symbol=AMBUJACEM.BSE&apikey=2e22d18e25d0a00bf729e3f7f80d7405010d1996d8b4acc8527067289bf78aaa1fdbaf48ddb2339b278c04f6f2295b1b2599ff490734c3408a16bc80cc05d0e391a28a4a05cf928e5551a5012717e40b0909f8c59f02624ebe613c3f49d2635bac075a818b60a43bb5c9d907096559f8442326de731af32049d6db6baf6c207e'

Task 8.1.5: To do this task I go to the documentation for the AlphaVantage Time Series Daily API(https://www.alphavantage.co/documentation/#daily), Expand my URL to incorporate all the parameters listed in the documentation. Also, to make your URL more dynamic, create variable names for all the parameters that can be added to the URL.

In [12]:
ticker = "AMBUJACEM.BSE"
output_size = "compact"
data_type = "json"


url = ("https://learn-api.wqu.edu/1/data-services/alpha-vantage/query?"
       "function=TIME_SERIES_DAILY&"
       f"symbol={ticker}&"
       f"outputsize={output_size}&"
       f"datatype={data_type}&"
       f"apikey={settings.alpha_api_key}"
      )




print("url type:", type(url))
url

url type: <class 'str'>

'https://learn-api.wqu.edu/1/data-services/alpha-vantage/query?function=TIME_SERIES_DAILY&symbol=AMBUJACEM.BSE&outputsize=compact&datatype=json&apikey=2e22d18e25d0a00bf729e3f7f80d7405010d1996d8b4acc8527067289bf78aaa1fdbaf48ddb2339b278c04f6f2295b1b2599ff490734c3408a16bc80cc05d0e391a28a4a05cf928e5551a5012717e40b0909f8c59f02624ebe613c3f49d2635bac075a818b60a43bb5c9d907096559f8442326de731af32049d6db6baf6c207e'

#Accessing APIs Through a Request
##I've seen how to access the AlphaVantage API by clicking on a URL, but this won't work for the application I am building in this project because only humans click URLs. Computer programs access APIs by making requests. Let's build our first request using the URL.

Task: I wil use the requests library to make a get request to the URL  created in the previous task and then assign the response to the variable response.

In [15]:
import requests
response = requests.get(url=url)

print("response type:", type(response))

response type: <class 'requests.models.Response'>

Task :Now I Use dir command to see what attributes and methods response has.

In [16]:
dir(response)

['__attrs__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_content',
 '_content_consumed',
 '_next',
 'apparent_encoding',
 'close',
 'connection',
 'content',
 'cookies',
 'elapsed',
 'encoding',
 'headers',
 'history',
 'is_permanent_redirect',
 'is_redirect',
 'iter_content',
 'iter_lines',
 'json',
 'links',
 'next',
 'ok',
 'raise_for_status',
 'raw',
 'reason',
 'request',
 'status_code',
 'text',
 'url']

Task : I Assign the status code for your response to the variable response_code.

In [18]:
response_code = response.status_code


print("code type:", type(response_code))
response_code

code type: <class 'int'>

200

Translated to English, 200 means "OK". It's the standard response for a successful HTTP request. In other words, it worked! We successfully received data back from the AlphaVantage API.
Now let's take a look at the text.

In [ ]:
Task: Assign the text for your response to the variable response_text.

In [19]:
response_text = response.text

print("response_text type:", type(response_text))
print(response_text[:200])

response_text type: <class 'str'>
{
    "Meta Data": {
        "1. Information": "Daily Prices (open, high, low, close) and Volumes",
        "2. Symbol": "AMBUJACEM.BSE",
        "3. Last Refreshed": "2025-05-23",
        "4. Output

This string looks like the data we previously saw in our browser when we clicked on the URL in Task 8.1.5. But we can't work with data structured as JSON when it's a string. Instead, we need it in a dictionary.

In [ ]:
Task: Use json method to access a dictionary version of the data. Assign it to the variable name response_data.

In [20]:
response_data = response.json()

print("response_data type:", type(response_data))

response_data type: <class 'dict'>

Let's check to make sure that the data is structured in the same way we saw in our browser.

In [ ]:
Task: Print the keys of response_data. Are they what you expected

In [21]:
# Print `response_data` keys
response_data.keys()

dict_keys(['Meta Data', 'Time Series (Daily)'])

Now let's look at data that's assigned to the "Time Series (Daily)" key.

In [ ]:
Task : Assign the value for the "Time Series (Daily)" key to the variable stock_data. Then examine the data for one of the days in stock_data.

In [22]:
# Extract `"Time Series (Daily)"` value from `response_data`
stock_data = response_data["Time Series (Daily)"]

print("stock_data type:", type(stock_data))

# Extract data for one of the days in `stock_data`

stock_data.keys()

stock_data type: <class 'dict'>

dict_keys(['2025-05-23', '2025-05-22', '2025-05-21', '2025-05-20', '2025-05-19', '2025-05-16', '2025-05-15', '2025-05-14', '2025-05-13', '2025-05-12', '2025-05-09', '2025-05-08', '2025-05-07', '2025-05-06', '2025-05-05', '2025-05-02', '2025-04-30', '2025-04-29', '2025-04-28', '2025-04-25', '2025-04-24', '2025-04-23', '2025-04-22', '2025-04-21', '2025-04-17', '2025-04-16', '2025-04-15', '2025-04-11', '2025-04-09', '2025-04-08', '2025-04-07', '2025-04-04', '2025-04-03', '2025-04-02', '2025-04-01', '2025-03-28', '2025-03-27', '2025-03-26', '2025-03-25', '2025-03-24', '2025-03-21', '2025-03-20', '2025-03-19', '2025-03-18', '2025-03-17', '2025-03-13', '2025-03-12', '2025-03-11', '2025-03-10', '2025-03-07', '2025-03-06', '2025-03-05', '2025-03-04', '2025-03-03', '2025-02-28', '2025-02-27', '2025-02-25', '2025-02-24', '2025-02-21', '2025-02-20', '2025-02-19', '2025-02-18', '2025-02-17', '2025-02-14', '2025-02-13', '2025-02-12', '2025-02-11', '2025-02-10', '2025-02-07', '2025-02-06', '2025-02-05', '2025-02-04', '2025-02-03', '2025-01-31', '2025-01-30', '2025-01-29', '2025-01-28', '2025-01-27', '2025-01-24', '2025-01-23', '2025-01-22', '2025-01-21', '2025-01-20', '2025-01-17', '2025-01-16', '2025-01-15', '2025-01-14', '2025-01-13', '2025-01-10', '2025-01-09', '2025-01-08', '2025-01-07', '2025-01-06', '2025-01-03', '2025-01-02', '2025-01-01', '2024-12-31', '2024-12-30', '2024-12-27', '2024-12-26'])

Now that we know how the data is organized when we extract it from the API, let's transform it into a DataFrame to make it more manageable.

In [23]:
# Extract `"Time Series (Daily)"` value from `response_data`
stock_data = response_data["Time Series (Daily)"]

print("stock_data type:", type(stock_data))

# Extract data for one of the days in `stock_data`

stock_data['2025-05-23']

stock_data type: <class 'dict'>

{'1. open': '565.1000',
 '2. high': '576.0500',
 '3. low': '565.1000',
 '4. close': '571.4500',
 '5. volume': '82849'}

Task: Read the data from stock_data into a DataFrame named df_ambuja. Be sure all your data types are correct!

In [25]:
import pandas as pd
df_ambuja = pd.DataFrame.from_dict(stock_data,orient="index",dtype=float)

print("df_ambuja shape:", df_ambuja.shape)
print()
print(df_ambuja.info())
df_ambuja.head(10)

df_ambuja shape: (100, 5)

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 2025-05-23 to 2024-12-26
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    100 non-null    float64
 1   2. high    100 non-null    float64
 2   3. low     100 non-null    float64
 3   4. close   100 non-null    float64
 4   5. volume  100 non-null    float64
dtypes: float64(5)
memory usage: 4.7+ KB
None

            1. open  2. high  3. low  4. close  5. volume
2025-05-23   565.10   576.05  565.10    571.45    82849.0
2025-05-22   565.35   569.35  561.40    567.70   479108.0
2025-05-21   560.95   570.50  560.95    567.95    34692.0
2025-05-20   567.95   571.25  561.00    561.90   307660.0
2025-05-19   569.30   569.30  559.40    565.90    48759.0
2025-05-16   548.95   565.95  548.25    563.30    67740.0
2025-05-15   543.85   548.25  539.50    547.10    88528.0
2025-05-14   541.80   544.85  536.10    543.90    56000.0
2025-05-13   542.00   542.05  534.55    537.10   225619.0
2025-05-12   540.00   544.00  535.50    541.45   119526.0

Did you notice that the index for df_ambuja doesn't have an entry for all days? Given that this is stock market data, why do you think that is?
All in all, this looks pretty good, but there are a couple of problems: the data type of the dates, and the format of the headers. Let's fix the dates first. Right now, the dates are strings; in order to make the rest of our code work, we'll need to create a proper DatetimeIndex.

In [ ]:
Task: Transform the index of df_ambuja into a DatetimeIndex with the name "date".

In [26]:
(df_ambuja.index)

Index(['2025-05-23', '2025-05-22', '2025-05-21', '2025-05-20', '2025-05-19',
       '2025-05-16', '2025-05-15', '2025-05-14', '2025-05-13', '2025-05-12',
       '2025-05-09', '2025-05-08', '2025-05-07', '2025-05-06', '2025-05-05',
       '2025-05-02', '2025-04-30', '2025-04-29', '2025-04-28', '2025-04-25',
       '2025-04-24', '2025-04-23', '2025-04-22', '2025-04-21', '2025-04-17',
       '2025-04-16', '2025-04-15', '2025-04-11', '2025-04-09', '2025-04-08',
       '2025-04-07', '2025-04-04', '2025-04-03', '2025-04-02', '2025-04-01',
       '2025-03-28', '2025-03-27', '2025-03-26', '2025-03-25', '2025-03-24',
       '2025-03-21', '2025-03-20', '2025-03-19', '2025-03-18', '2025-03-17',
       '2025-03-13', '2025-03-12', '2025-03-11', '2025-03-10', '2025-03-07',
       '2025-03-06', '2025-03-05', '2025-03-04', '2025-03-03', '2025-02-28',
       '2025-02-27', '2025-02-25', '2025-02-24', '2025-02-21', '2025-02-20',
       '2025-02-19', '2025-02-18', '2025-02-17', '2025-02-14', '2025-02-13',
       '2025-02-12', '2025-02-11', '2025-02-10', '2025-02-07', '2025-02-06',
       '2025-02-05', '2025-02-04', '2025-02-03', '2025-01-31', '2025-01-30',
       '2025-01-29', '2025-01-28', '2025-01-27', '2025-01-24', '2025-01-23',
       '2025-01-22', '2025-01-21', '2025-01-20', '2025-01-17', '2025-01-16',
       '2025-01-15', '2025-01-14', '2025-01-13', '2025-01-10', '2025-01-09',
       '2025-01-08', '2025-01-07', '2025-01-06', '2025-01-03', '2025-01-02',
       '2025-01-01', '2024-12-31', '2024-12-30', '2024-12-27', '2024-12-26'],
      dtype='object')

In [27]:
# Convert `df_ambuja` index to `DatetimeIndex`
df_ambuja.index = pd.to_datetime(df_ambuja.index)
# Name index "date"
df_ambuja.index.name="date"
print(df_ambuja.info())
df_ambuja.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2025-05-23 to 2024-12-26
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    100 non-null    float64
 1   2. high    100 non-null    float64
 2   3. low     100 non-null    float64
 3   4. close   100 non-null    float64
 4   5. volume  100 non-null    float64
dtypes: float64(5)
memory usage: 4.7 KB
None

            1. open  2. high  3. low  4. close  5. volume
date
2025-05-23   565.10   576.05  565.10    571.45    82849.0
2025-05-22   565.35   569.35  561.40    567.70   479108.0
2025-05-21   560.95   570.50  560.95    567.95    34692.0
2025-05-20   567.95   571.25  561.00    561.90   307660.0
2025-05-19   569.30   569.30  559.40    565.90    48759.0

Task: Remove the numbering from the column names for df_ambuja.

In [29]:
df_ambuja.columns

Index(['1. open', '2. high', '3. low', '4. close', '5. volume'], dtype='object')

In [30]:
[c for c in df_ambuja.columns]

['1. open', '2. high', '3. low', '4. close', '5. volume']

In [31]:
[c[3:] for c in df_ambuja.columns]

['open', 'high', 'low', 'close', 'volume']

In [32]:
[c.split(". ")[1] for c in df_ambuja.columns]

['open', 'high', 'low', 'close', 'volume']

In [33]:
# Remove numbering from `df_ambuja` column names
df_ambuja.columns = [c.split(". ")[1] for c in df_ambuja.columns]

print(df_ambuja.info())
df_ambuja.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2025-05-23 to 2024-12-26
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    100 non-null    float64
 1   high    100 non-null    float64
 2   low     100 non-null    float64
 3   close   100 non-null    float64
 4   volume  100 non-null    float64
dtypes: float64(5)
memory usage: 4.7 KB
None

              open    high     low   close    volume
date
2025-05-23  565.10  576.05  565.10  571.45   82849.0
2025-05-22  565.35  569.35  561.40  567.70  479108.0
2025-05-21  560.95  570.50  560.95  567.95   34692.0
2025-05-20  567.95  571.25  561.00  561.90  307660.0
2025-05-19  569.30  569.30  559.40  565.90   48759.0